<div class="abi-wrapper">
  <img class="abi-image-opts" src="http://univafu.edu.mx/assetsWebsite/images/oferta-educativa/educacion-continua/educacion_continua_a.jpg"
    alt="UNIVAFU-educacion-continua">
  <div class="abi-centrar">
    <div class="line abi-info-line ec-line"></div>
    <h1>EDUCACIÓN CONTINUA</h1>
  </div>
</div>

<div class="ec-desc">
  <div>
    <p>En UNIVAFU Universidad, tenemos entre nuestros objetivos el diseñar y organizar programas educativos de extensión, como
      una estrategia de valor agregado a la comunidad. Brindamos actualización en diversas áreas de conocimiento, a través
      de cursos, talleres, seminarios, congresos y diplomados; mismos que permiten adquirir formación, dando respuesta a
      necesidades específicas de capacitación.</p>
  </div>
</div>

<div class="wrapper-mvp ec-wrapper-mvp">
  <div *ngIf="_uvfService.mobileQuery.matches" class="mvp-box1">
    <img src="http://univafu.edu.mx/assetsWebsite/images/oferta-educativa/educacion-continua/educacion_continua_b.jpg" alt="Educacion continua">
  </div>
  <div class="mvp-box2 ec-mvp" #animation>
    <div class="ec-mvp-box">
      <div class="line mvp-line ec-line" [@barAnimation]="animationState"></div>
      <h2>PRINCIPIOS</h2>
      <h3>Actualización</h3>
      <p>Promoviendo y difundiendo conocimientos actuales y vigentes para el óptimo desempeño en la profesión.</p>
      <h3>Competencia</h3>
      <p>Remediando la obsolescencia progresiva del profesional para que este ofrezca servicios pertinentes, seguros y oportunos
        en su campo laboral.</p>
      <h3>Desarrollo</h3>
      <p>Profesional y humano, para quien busca la relevancia y la calidad en su entorno laboral o social manteniéndose como
        un agente de cambio en su entorno.</p>
      <h3>Innovación</h3>
      <p>Contribuyendo activamente con nuevos conocimientos profesionales aplicables al ámbito productivo, mejorando las soluciones
        existentes o proponiendo respuestas totalmente originales.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>