<footer>

  <div class="vnr-wrapper">
    <div class="line vnr-line"></div>
    <h1>VISITA NUESTRAS REDES</h1>
    <div class="vnr-sb-wrapper">
      <a href="https://www.facebook.com/univafu.oficial/" target="_blank" class="fb-button-blue social-buttons"></a>
      <a href="https://twitter.com/univafu_oficial?lang=es" target="_blank" class="tw-button-blue social-buttons"></a>
      <a href="https://www.youtube.com/channel/UCI-WuL54rFKE2BvUewkTyPg" target="_blank" class="yt-button-blue social-buttons"></a>
      <a href="https://www.instagram.com/univafuuniversidad/" target="_blank" class="insta-button-blue social-buttons"></a>
    </div>
  </div>

  <div class="contactanos-wrapper">

    <img src="http://univafu.edu.mx/assetsWebsite/images/home/index_contacto.jpg" alt="UNIVAFU" class="contactanos-img">

    <div class="contactanos-info">
      <div class="line contactanos-line"></div>
      <h1>CONTÁCTANOS</h1>
      <button mat-stroked-button class="white-stroked-button">Más Información</button>
    </div>
  </div>

  <div class="wrapper-info">

    <div class="info-box">
      <img src="http://univafu.edu.mx/assetsWebsite/logos/univafu_blanco.png" alt="UNIVAFU">
      <p>Río Presidio, No. 1955 Nte.</p>
      <p>Col. Tepeca</p>
      <p>Los Mochis, Sinaloa, México.</p>
      <p>(668) 880-7374</p>
    </div>

    <div class="social-box">
      <h2>Redes Sociales</h2>
      <div class="vnr-sb-wrapper">
        <a href="https://www.facebook.com/univafu.oficial/" target="_blank" class="fb-button social-buttons"></a>
        <a href="https://twitter.com/univafu_oficial?lang=es" target="_blank" class="tw-button social-buttons"></a>
        <a href="https://www.youtube.com/channel/UCI-WuL54rFKE2BvUewkTyPg" target="_blank" class="yt-button social-buttons"></a>
        <a href="https://www.instagram.com/univafuuniversidad/" target="_blank" class="insta-button social-buttons"></a>
      </div>
      <a class="aviso-privacidad" (click)="onClick()">Aviso de Privacidad</a>
    </div>

  </div>
</footer>