.navbar-space {
    flex: 1 1 auto;
}

.mat-toolbar {
    position: fixed;
    z-index: 999;
    background: transparent;
}

.navbar-logo {
    width: auto;
    height: 1.2em;
}

.animate-navbar {
    transition: background-color .6s, box-shadow .6s;
}

.dark-navbar {
    background: rgba(0, 0, 0);
}

.prueba {
    background-color: black;
}

.mat-tab-link {
    opacity: 0.9;
    color: #fff;
}

.aviso-style {
    background-color: #000 !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.active {
    background-color: rgba(0,0,0,.04);
}

@media only screen and (min-width: 900px) { 
    .navbar-logo {
        display: none;
    }    
}

@media only screen and (min-width: 1000px) { 
    .navbar-logo {
        display: block;
        height: 1.4em;
    }
}
