<div class="aviso-wrapper">

  <div class="img-wrapper">
    <img src="http://univafu.edu.mx/assetsWebsite/images/Banner2.png" alt="banner">
  </div>

  <h2 class="txt-center">AVISO DE PRIVACIDAD</h2>
  <p>
    <b>UNIVERSIDAD DEL VALLE DEL FUERTE SC</b>, mejor conocido como UNIVAFU Universidad, con domicilio en calle RIO PRESIDIO
    No. 1955 nte., colonia TEPECA, ciudad LOS MOCHIS, municipio o delegación AHOME, cp. 81228, en la entidad de SINALOA,
    país MEXICO, y portal de internet www.univafu.edu.mx, es el responsable del uso y protección de sus datos personales,
    y al respecto le informamos lo siguiente:</p>
  <p>
    <b>¿Para qué fines utilizaremos sus datos personales?</b>
  </p>
  <p>De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias
    para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:</p>

  <ul>
    <li>
      <p>Nuestra Institución es una comunidad académica que de modo riguroso y critico contribuye a la tutela y al desarrollo
        de la dignidad humana y de la herencia cultural, mediante la investigación, la enseñanza y los diversos servicios
        ofrecidos a las comunidades locales, nacionales e internacionales; por lo que en el caso de que usted sea aspirante,
        alumno, egresado, o solicitante de empleo, su información personal será utilizada indistintamente para efectos académicos
        o administrativos, proveerle de servicios, productos e información, participarle sobre cambios en los mismos, evaluar
        la calidad del servicio que le brindamos, generar reportes con fines estadísticos que ayuden a la planeación estratégica
        y operativa de esta institución, así como a la acreditación de sus programas académicos. Para las finalidades antes
        mencionadas, requerimos obtener en general referencias que nos permitan identificarle, recabando de forma enunciativa,
        más no limitativa, sus siguientes datos personales: domicilio, números telefónicos, correo electrónico, nombre de
        sus padres o tutores, nombre de sus avales, datos sobre su trayectoria académica, etc. En caso de que solicitase
        en su calidad de alumno o aspirante, o bien como aval, padre o tutor de los anteriores, apoyo económico, crédito
        o beca para el uso de nuestros servicios educativos, se recabarán sus datos financieros y patrimoniales, que son
        considerados como sensibles según la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</p>
    </li>
    <li>
      <p>Le informamos que sus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas
        a esta institución. En ese sentido, su información puede ser compartida en el futuro, en el caso de que usted sea
        candidato a colaborador o colaborador de nuestra institución, con agencias calificadoras para la realización del
        correspondiente estudio socioeconómico, si usted es usuario de nuestra bolsa de trabajo, para ser promovida con las
        empresas, agencias o consultorías que estén buscando candidatos para cubrir alguna vacante y en donde usted tenga
        la oportunidad de ser elegido para el puesto. Asimismo, en el caso de que usted sea alumno, egresado o colaborador;
        con fuentes de trabajo donde usted haya presentado solicitudes laborales, o bien donde usted se haya inscrito a efecto
        de realizar estudios académicos posteriores, para la autenticación de su certificado, diploma, título o cualquier
        otro documento que haya sido expedido por esta institución en su favor, o para la verificación por parte de dichas
        organizaciones de su historial académico, profesional o laboral en esta institución.</p>
    </li>
    <li>
      <p>En el caso de que usted sea alumno o colaborador, sus datos serán transferidos a compañías aseguradoras, a efecto de
        la contratación de la póliza correspondiente, el seguimiento a accidentes escolares, así como el aviso y trámite
        en caso de padecimientos cubiertos por dicha póliza; asimismo en el caso de que usted sea alumno, o bien su padre,
        tutor o aval, sus datos se podrían transferir para efecto de cobranza de adeudos pendientes, o bien en el caso de
        que usted sea alumno prestador del servicio social, de prácticas profesionales o de pregrado, sus datos personales
        se transferirán a aquellos organismos públicos o privados donde usted sea asignado y aceptado para desempeñar tal
        función. En el caso de que usted en su calidad de alumno o aspirante, o bien aval, padre tutor de los anteriores,
        solicitase apoyo económico, crédito o beca para el uso de nuestros servicios educativos, sus datos personales, asimismo,
        sus datos financieros o patrimoniales, serán transferidos tanto a agencias calificadoras como instituciones financieras
        y de crédito. Si usted no manifiesta su oposición para que sus datos sean transferidos, se entenderá que ha otorgado
        su consentimiento para ello. Sus datos personales no serán transferidos a terceros para fines distintos a los antes
        mencionados, salvaguardando la privacidad de los mismos.</p>
    </li>
    <li>
      <p>Vídeos, audio y fotografía.- Nuestra institución graba (audios y vídeo) y toma fotografías de los eventos que realiza,
        tales como clases, conferencias, eventos deportivos, culturales, recreativos, de difusión y como medida de seguridad,
        entre otros. Si usted ingresa a nuestro campus UNIVAFU Universidad, acepta que podrá ser grabado y/o fotografiado,
        consintiendo que UNIVAFU universidad podrá utilizar el material, distribuirlo o transmitirlo para cursos, clases
        y otras actividades.</p>
    </li>
    <li>
      <p>Medidas de control y resguardo de información.- Para resguardo de sus datos personales, nuestra Universidad ha establecido
        distintas medidas de seguridad, tanto administrativas y técnicas como físicas, según sea más apropiado de acuerdo
        con el tipo de datos personales en cuestión y el tratamiento al que están sujetos.</p>
    </li>
  </ul>

  <p>
    <b>¿Qué datos personales utilizaremos para estos fines?</b>
  </p>
  <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</p>

  <ul>
    <li>
      <p>Datos de identificación</p>
    </li>
    <li>
      <p>Datos de contacto</p>
    </li>
    <li>
      <p>Datos sobre características físicas</p>
    </li>
    <li>
      <p>Datos biométricos</p>
    </li>
    <li>
      <p>Datos laborales</p>
    </li>
    <li>
      <p>Datos académicos</p>
    </li>
    <li>
      <p>Datos migratorios</p>
    </li>
    <li>
      <p>Datos patrimoniales y/o financieros</p>
    </li>
  </ul>

  <p>
    <b>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</b>
  </p>

  <p>Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso
    que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté
    desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando
    considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales
    para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>

  <p>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente
    medio:</p>

  <p>Lo manifestado en el párrafo precedente podrá hacerse valer en forma personal o por representante legal, representación
    esta que deberá acreditarse fehacientemente conforme a derecho, para ello tendrá que enviar una solicitud vía correo
    electrónico al Departamento de Desarrollo Organizacional para agendar cita para atención Personal.</p>

  <p>Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición el siguiente
    medio: www.univafu.edu.mx</p>

  <p>Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes
    de derechos ARCO, son los siguientes:</p>

  <p>a) Nombre de la persona o departamento de datos personales: Desarrollo Organizacional</p>

  <p>b) Domicilio: calle Rio Presidio # 1955 Nte, colonia Tepeca, ciudad Los Mochis, municipio o delegación Ahome, cp. 81228,
    en la entidad de Sinaloa, país México</p>

  <p>c) Correo electrónico:
    <span class="email">desarrollo.organizacional@univafu.edu.mx</span>
  </p>

  <p>d) Número telefónico: 016688807374</p>

  <p>Usted puede revocar su consentimiento para el uso de sus datos personales.</p>

  <p>Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin
    embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso
    de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales.
    Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos
    seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>

  <p>Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio: </p>

  <p>
    <b>¿Cómo puede limitar el uso o divulgación de su información personal?</b>
  </p>

  <p>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios:</p>

  <p>
    <b>¿Cómo puede conocer los cambios en este aviso de privacidad?</b>
  </p>

  <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos
    legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad;
    de cambios en nuestro modelo de negocio, o por otras causas.</p>

  <p>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de:
    Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad,
    para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación
    u ofrecimiento de nuestros servicios o productos y prácticas del mercado; estas modificaciones estarán disponibles al
    público a través de los siguientes medios: anuncios visibles en UNIVAFU Universidad , en nuestra página de Internet www.univafu.edu.mx,
    sección aviso de privacidad o se las haremos llegar al último correo electrónico que nos haya proporcionado.</p>

  <p>El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso
    de privacidad es el siguiente:</p>

  <p>Por Correo electrónico se darán a conocer los cambios en los avisos de privacidad.</p>

  <p style="float: right;">Última actualización: 26/02/2014 </p>


</div>

<app-footer></app-footer>